<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<!-- Allow put, patch, delete -->
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<!-- Allow put, patch, delete -->

			<handlers>
				<remove name="WebDAV" />
				<!-- Allow put, patch, delete -->
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
		</system.webServer>
	</location>
</configuration>